body {
  margin:0;
  background-color: rgb(215, 220, 178);
}
.navbar {
    overflow: hidden;
    background-color: #374316;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #e9dcc6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    color: black;
  }

  .bg-txt {
    background-color: rgba(74, 74, 76, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family:Garamond;
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 10px;
    text-align: center;
  }
  .parallax {
    background-image: url("photo.jpeg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 800;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-whatsapp {
    background: #6be67d;
    color: white;
  }
  .fa-github {
    background: #000000;
    color: white;
  }
  
  
  
